ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.header {
  display: flex;
  flex-direction: row;

  align-items: center;
}

.header img {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  margin: 10px 10px;
}
